Add new client:
<form method="post" action="/client">
    <label>
      <p>e-mail:</p>
      <input type="email" name="mail">
    </label>
    <label>
      <p>name:</p>
      <input type="text" name="name">
    </label>
    <label>
      <p>notes:</p>
      <textarea type="text" name="notes"></textarea>
    </label>
    <label>
      <p>Contact at:</p>
      <input type="date" name="nextContactAt">
    </label>
    <p><button type="submit">Save</button></p>
</form>